/*variaveis*/
:root {
  --tamanho-base: 10px;
  --cor-primaria: #f8fafc;
  --cor-borda: #ccc;
}


/* css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background: var(--cor-primaria);
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  height: 93vh;
  border-radius: 8px;
  padding: 8px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);

}

.container h1 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0f172a;
  align-items: center;
  gap: 10px;

}

.all {
  padding: var(--tamanho-base);

}

.mercado-e-lista {
  background: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 12px;

}

form {
  display: flex;
  gap: 20px;
}

.d-flex {
  display: flex;
  gap: 4px;
}

.btn {
    background-color: #2563EB;;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s;
    margin-top: 8px;
}

#container-itens-cadastrados {
  margin-top: 20px;
  max-height: 380px;
  overflow-y: auto;
  border: 1px solid #cccccc00;
  border-radius: 0 0 20px 15px;
}
table {
  width: 100%;
  font-family: 'Syne', sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 8px;
}

thead th {
  background: #F8FAFC;
  color: #64748B;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding: 13px 16px;
  border-bottom: 1px solid #E2E8F0;
  border-radius: 0;
  /* para garantir que as bordas arredondadas sejam aplicadas apenas nos cantos */

}

th:first-child {
  border-radius: 20px 0 0 0;
}

th:last-child {
  border-radius: 0 20px 0 0;
}

td:last-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

td {
  color: #000;
  font-size: 0.9rem;
  background: #f4f4f4;
  font-weight: bold;
  padding: 1px 10px;
  font-weight: 400;
  border-bottom: 1px solid #E2E8F0;
  text-align: center;
  text-transform: uppercase;
}

.jc-center {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #64748b;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

input[type="checkbox"] {
  width: Calc(var(--tamanho-base) + 5px);
  height: Calc(var(--tamanho-base) + 5px);
  margin: 1rem;
}

input,
select {
  width: 100%;
  margin-top: 4px;
  padding: 10px 14px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  color: #0f172a;
  outline: none;
  transition: border-color 0.2s;
}

#inp-qtd, #inp-preco{
  width: 80px;
}

.btn-d {

  width: 50px;
  margin: 10px;
  padding: 4px;
  background: #ff000080;
  border: 1px solid #ff000075;
  border-radius: 6px;
  color: #080808;
  font-size: 11.5px;
  font-weight: 600;
  cursor: pointer;
}

.riscado{
  text-decoration: line-through;
  color: gray;
  opacity: 0.2;
}

.contagemItem{
  padding: 10px 0 10px 0;
  font-weight: bold;
}

@media (max-width: 550px) {

  #container-itens-cadastrados {
  margin-top: 20px;
  max-height: 480px;
  overflow-y: auto;
  border: 1px solid #cccccc00;
  border-radius: 0 0 20px 15px;
  }

  .mercado-e-lista {
    display: block;
    justify-content: center;
    gap: 20px;

  }

  form {
    display: flex;
    gap: 20px;
  }

  .thead th {
    color: #64748B;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding: 13px 16px;
    border-bottom: 1px solid #E2E8F0;
    text-align: left;
    border-radius: 0;
    /* para garantir que as bordas arredondadas sejam aplicadas apenas nos cantos */

  }

  .jc-center {
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 4px 12px;
    background: #2563EB;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 12.5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(37, 99, 235, 0.22);
    margin: 8px;
    text-align: center;
  }

}


@media (max-width: 480px) {

  #container-itens-cadastrados {
  /* margin-top: 10px;  */ 
  max-height: 450px;
  overflow-y: auto;
  border: 1px solid #cccccc00;
  border-radius: 0 0 20px 15px;
  }

  .mercado-e-lista {
    display: block;
    justify-content: center;
    gap: 20px;

  }

  form {
    display: flex;
    gap: 20px;
  }

  .thead th {
    color: #64748B;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding: 13px 16px;
    border-bottom: 1px solid #E2E8F0;
    text-align: left;
    border-radius: 0;
    /* para garantir que as bordas arredondadas sejam aplicadas apenas nos cantos */

  }

  .jc-center {
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 4px 12px;
    background: #2563EB;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 12.5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(37, 99, 235, 0.22);
    margin: 8px;
    text-align: center;
  }

}
